@value makerWhite from '../../common/colors.css';

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.input {
  display: none;
}

.button {
  width: 100%;
  background-color: #8eb2b4;
  color: makerWhite;
  border: none;
  outline: 0;
  font-weight: bold;
  font-size: 0.8rem;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}
